<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
    <link rel="stylesheet" href="/css/create.css">
</head>

<body>
    <h1>Product Form</h1>
    <div class="grid">
        <form method="post">
            <div class="input">
                <input type="text" name="name" placeholder="Product Name" />
            </div>
            <div class="input">
                <input type="text" name="Price" placeholder="Product Price" />
            </div>
            <div class="input">
                <input type="text" name="Description" placeholder="Product Description" />
            </div>
            <div class="input">
                <input name="Image" type="file" />
            </div>
            <div class="input">
                <select name="CategoryId">
                    <option value="">Select Category</option>
                    <% for(let cat of categories) { %>
                        <option value="<%= cat.CategoryId %>">
                            <%= cat.Name %>
                        </option>
                        <% } %>
                </select>
            </div>
        </form>
    </div>
</body>

</html>